body{
    background-size: cover;

}
#hd{
    font-size:50px;
    color:whitesmoke;
    text-align: center;
    font-family:monospace;
}
.button{
    float:left;
    
}
div{
    position:fixed;

}